.greetings {
  padding: 32px 0;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
  color: #141522;
}
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #54577a;
}
.rightPanel {
  background-color: #f5f5f7;
  padding: 24px 0;
}

@media only screen and (min-width: 768px) {
  .tabDecActiv {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 12px 0 16px;
  }
  .rightPanel {
    background-color: #fcfcfc;
  }
}

@media only screen and (min-width: 1024px) {
  .blockPosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .containerMenu {
    flex-shrink: 0;
    height: 1032px;
  }
  .contentArea {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
/* @media only screen and (min-width: 1280px) {
    .containerMenu {
    height: 1082px;
  }
} */
@media only screen and (min-width: 1440px) {
  .contentArea {
    flex-direction: row;
  }

  .mainContant {
    flex: 1;
  }

  .rightPanel {
    background-color: #f5f5f7;
    padding: 24px 0;
    flex-shrink: 0;
  }
}
